.heading {
	text-align: center;
	color: #ff0066;
	width: 100%;
	background-color: #303030;
	border-radius: 20px;
	}
	
.body {
	text-align: center;
	background-color: #505050;
	border-radius: 20px;
	}	
	
.text {
	color: #ff0066;
	text-align: center;	
	border-radius: 20px;
	}
	
.footer {
	text-align: center;
	background-color: #f0f0f0;
	color:  #ff0066;
	border-radius: 20px;
}